
.banner_w3lspvt {
    background: url(../images/p1.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 789px;
}

.banner-text {
    padding-top: 15em;
    max-width: 900px;
}

.banner-text h1 {
    font-size: 60px;
    color: #fff;
}

.banner-text h2 {
    font-size: 25px;
    color: #eee;
    line-height: 1.9;
    letter-spacing: 1px;
}

.button-style {
    padding: 14px 26px;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border: 1px solid #fff;
    font-size: 22px;
    background: rgba(255, 255, 255, 0.07);
}


.gallery {
    background: url(../images/gallery.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 789px;
}

.gal-img img {
    padding: 10px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.gal-img:hover.gal-img img {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.blog {
    background: url(../images/home.jpg) repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 789px;
}

h1.card-title a,
h1.card-title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

.card {
    box-shadow: 7px 10px 21px 0 rgba(56, 56, 56, 0.13);
    -webkit-box-shadow: 7px 10px 21px 0 rgba(56, 56, 56, 0.13);
    -moz-box-shadow: 7px 10px 21px 0 rgba(56, 56, 56, 0.13);
}

a.blog-btn {
    font-size: 14px;
    letter-spacing: 1px;
    background: #47cfb0;
    color: #fff;
    padding: 11px 20px;
    display: inline-block;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border: none;
}

/* team page */
.team {
    background: url(../images/team.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 789px;
}

.team-text h2,
.team-text h1 {
    font-size: 27px;
    color: #fff;
    padding: 20px 0 12px;
}

.caption ul li {
    display: inline-block;
}

.caption ul li:nth-child(2) {
    margin: 0 .3em;
}

.caption ul li a span {
    color: #fff;
    font-size: 15px;
}

/* //team page */

.dropbtn {
    background-color: #C8C8C8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #DCDCDC;
}

@media(max-width: 1920px) {
    .he-codes {
        min-height: 100vh;
    }
}

@media(max-width: 1600px) {
    .he-codes {
        min-height: 789px;
    }
}

@media(max-width: 1440px) {
    .banner-text {
        padding-top: 11em;
    }

    .welcome-left h1 {
        font-size: 36px;
    }

    .welcome-left p {
        font-size: 16px;
    }

    .welcome-left h2 {
        font-size: 18px;
    }

    .popup {
        margin: 4em auto;
    }
}

@media(max-width: 1366px) {}

@media(max-width: 1280px) {
    .banner-text h1 {
        font-size: 48px;
    }

    .banner-text {
        padding-top: 8em;
    }

    .he-codes {
        min-height: auto;
    }

    .wthree_copy_right {
        margin-top: 6em;
        max-width: 400px;
        padding-bottom: 2em;
    }

    .team-text h4,
    .team-text h2,
    .team-text h1 {
        font-size: 24px;
    }

    .welcome-left h1 {
        font-size: 34px;
    }
}

@media(max-width: 1080px) {
    .logo-2 a span {
        font-size: 54px;
    }

    .banner-text h1 {
        font-size: 44px;
    }

    .banner-text {
        padding-top: 7em;
    }

    .welcome-left h1 {
        font-size: 28px;
    }

    .welcome-left {
        padding-left: 1em;
        padding-top: 3em;
    }

    .welcome-left p {
        font-size: 15px;
    }

    .welcome-left h2 {
        font-size: 17px;
    }

    .team-text h4,
    .team-text h2,
    .team-text h1 {
        font-size: 22px;
    }

    .caption ul li a span {
        font-size: 14px;
    }

    h5.card-title a,
    h1.card-title a,
    h2.card-title a,
    h1.card-title,
    h2.card-title,
    h5.card-title {
        font-size: 20px;
    }

    .contact-left-w3ls h1 {
        font-size: 28px;
        margin-bottom: 1.2em;
    }

    .contact-left-w3ls h4,
    .contact-left-w3ls h2 {
        font-size: 1.2em;
    }

    .contact-text-w3pvt-info p,
    .contact-text-w3pvt-info p a {
        font-size: 14px;
    }

    .contact-left-w3ls span {
        font-size: 1.8em;
    }
}

@media(max-width: 1050px) {}

@media(max-width: 1024px) {
    .banner_w3lspvt {
        min-height: 680px;
    }
}

@media(max-width: 991px) {
    .about-right {
        margin: 0 auto;
    }

    .welcome-left h1 {
        font-size: 30px;
    }

    .welcome-left {
        padding-left: 3em;
        max-width: 800px;
    }

    .abt-block {
        margin: 2.2em auto;
        max-width: 400px;
    }
}

@media(max-width: 900px) {}

@media(max-width: 800px) {
    .logo-2 a span {
        font-size: 50px;
    }

    .banner-text h1 {
        font-size: 40px;
    }

    .banner-text h2 {
        font-size: 15px;
    }

    .button-style {
        padding: 12px 20px;
        font-size: 14px;
    }

    .welcome-left {
        padding-left: 1em;
        padding-top: 2em;
    }
}

@media(max-width: 768px) {
    .wthree_copy_right {
        margin-top: 12em;
    }

    .banner_w3lspvt {
        min-height: 929px;
    }
}

@media(max-width: 736px) {
    h3.title {
        font-size: 36px;
    }

    .welcome-left h1 {
        font-size: 28px;
    }

    .banner_w3lspvt {
        min-height: 600px;
    }

    .wthree_copy_right {
        margin-top: 6em;
    }
}

@media(max-width: 667px) {
    .banner-text h1 {
        font-size: 38px;
    }
}

@media(max-width: 640px) {
    .welcome-left h1 {
        font-size: 26px;
    }

    .popup p,
    .popup h1,
    .popup h2 {
        font-size: 15px;
    }
}

@media(max-width: 600px) {
    .banner-text h2 {
        font-size: 14px;
    }

    .wthree_copy_right {
        margin-top: 7em;
    }

    p {
        font-size: 14px;
    }
}

@media(max-width: 568px) {
    .banner-text h1 {
        font-size: 36px;
    }
}

@media(max-width: 480px) {
    .logo-2 a span {
        font-size: 42px;
    }

    .banner-text h1 {
        font-size: 32px;
    }

    .banner-text h2 {
        font-size: 13px;
    }

    .button-style {
        padding: 13px 20px;
        font-size: 13px;
    }

    .wthree_copy_right {
        margin-top: 8em;
    }

    .welcome-left h1 {
        font-size: 24px;
    }

    h3.title {
        font-size: 32px;
    }

    .welcome-left {
        padding-left: 0em;
    }

    .popup {
        margin: 5em 1em;
    }

    .popup p,
    .popup h1,
    .popup h2 {
        font-size: 14px;
    }

    .w3pvt-info_mail_grid_right textarea {
        min-height: 160px;
    }
}

@media(max-width: 440px) {
    .wthree_copy_right {
        margin-top: 7.7em;
    }

    .contact-text-w3pvt-info p,
    .contact-text-w3pvt-info p a {
        font-size: 13px;
    }
}

@media(max-width: 414px) {
    .banner-text {
        padding-top: 6em;
    }

    .serv_abs {
        left: 35px;
        width: 80px;
        height: 80px;
    }

    .abt-block span {
        font-size: 1.8em;
    }

    .banner_w3lspvt {
        min-height: 672px;
    }

    .wthree_copy_right {
        margin-top: 10em;
    }
}

@media(max-width: 384px) {
    .welcome-left h1 {
        font-size: 23px;
    }
}

@media(max-width: 375px) {
    .banner-text h1 {
        font-size: 30px;
    }

    .banner-text h2 {
        font-size: 12px;
    }

    .button-style {
        padding: 12px 18px;
        font-size: 12px;
    }

    .welcome-left h1 {
        font-size: 21px;
    }

    .welcome-left p {
        font-size: 14px;
    }

    .welcome-left h2 {
        font-size: 15px;
    }

    .popup p,
    .popup h1,
    .popup h2 {
        font-size: 13px;
    }

    .banner-text {
        padding-top: 8em;
    }

    .banner_w3lspvt {
        min-height: 685px;
    }
}

@media(max-width: 320px) {
    p {
        font-size: 13px;
    }

    .wthree_copy_right {
        margin-top: 8em;
    }

    .logo a span {
        font-size: 36px;
    }

    h3.title {
        font-size: 28px;
    }

    h3.title:after {
        width: 60px;
    }

    .welcome-left h1 {
        font-size: 19px;
    }

    .welcome-left h2 {
        font-size: 14px;
    }

    ul#menu {
        width: 2.5em;
        height: 2.5em;
    }

    ul#menu label {
        line-height: 2.5em;
    }
}